{% extends "base.html" %}

<!-- Disqus Script -->
{% block disqus %}
  <div id="disqus_thread"></div>
  <script>
    /**
    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
    /*
    var disqus_config = function () {
    this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    */
    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://linuxcodevserver.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{% endblock %}


<!-- Extra Head -->
{% block extrahead %}

  <!-- Import Google Fonts(Noto Sans JP) -->
  <style>
      @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap');
  </style>

  <!-- Add ReCAPTCHA -->
  <script src="https://www.google.com/recaptcha/api.js"></script>

  <!-- Init window.globalFunction -->
  <script>
    window.globalFunction = {};
  </script>
  <!-- Define Code -->
  <script src="https://linuxcodevserver.github.io/javascript/insertcode/main.js"></script>
  <!-- Run additional service Code -->
  <script src="https://linuxcodevserver.github.io/javascript/adservice/main.js"></script>

{% endblock %}

<!-- Copyright -->
{% block copyright %}
  <p style="font-size: 0.64rem;">This work is licensed under the Creative Commons Attribution-ShareAlike 4.0 International License. To view a copy of this license, visit <a href="http://creativecommons.org/licenses/by-sa/4.0/">http://creativecommons.org/licenses/by-sa/4.0/</a>.</p>
{% endblock %}